mixin intro()
    .intro 
        .intro__body.container 
            .intro__row 
                .intro__left
                    img(src="@img/logo-big.svg", alt="" draggable="false")
                .intro__right
                    img(src="@img/truck.png", alt="" draggable="false")
            p.intro__p Компания <span>KVANTA</span> уже несколько лет занимается развитием рынка электромобилей и электротранспорта в России.
    .about 
        .about__body.container 
            p.about__title Команда <span>KVANTA</span> это: 
            .about__content 
                .about__item
                    .about__item-icon 
                    p Экспертные консультации и сопровождение на всех этапах взаимодействия при выборе и покупке
                .about__item
                    .about__item-icon 
                    p Широкий выбор как в наличии, так и под заказ в максимально возможные короткие сроки
                .about__item
                    .about__item-icon 
                    p Возможность приобретения в лизинг на выгодных условиях
                .about__item
                    .about__item-icon 
                    p Сервис для ремонта и обслуживания, а также услуги детейлинга
    .stat 
        .stat__body.container 
            p.stat__title НАША СТАТИСТИКА
            .stat__content 
                .stat__item
                    p.stat__item-title 24/7
                    p.stat__item-p KVANTA ПОДДЕРЖКА
                .stat__item
                    p.stat__item-title 172
                    p.stat__item-p ГОРОДА ДОСТАВКИ
    .info 
        .info__body.container 
            .info__top 
                .info__img 
                    img(src="@img/img.png", alt="" draggable="false")
                .info__right 
                    p.info__title Электропогрузчик PJ220 
                    p.info__p <span>Отличается прекрасной эргономикой:</span> <br>место оператора и органы управления настраиваются индивидуально. <br><br>Бесступенчатая регулировка рулевой колонки и подлокотника, а также одновременная регулировка по двум направлениям позволяют оператору подобрать оптимальное положение.
            .info__item 
                p.info__item-p <span>Легкий и быстрый процесс замены аккумулятора:</span> <br>Три различных способа замены батареи обеспечивают удобство эксплуатации в любых условиях применения, даже при работе в три смены. 
            .info__item 
                p.info__item-p Заметно увеличившееся поле обзора делает PJ220 лучшим на рынке в отношении условий видимости. Это достигается благодаря компактной мачте, расположению профилей, оптимизированной прокладке цепей и шлангов, а также двум смотровым окнам в траверсе. 
            .info__item 
                p.info__item-p Благодаря прочной конструкции и инновационной технологии наши погрузчики создают наилучшие условия для эргономичной работы и рентабельного использования как внутри помещений, так и на улице.
    .acc 
        .acc__body.container 
            p.acc__title Преимущества
            .accordion 
                .accordion__button Live Energy
                    .accordion__button-i
                .accordion__content 
                    p Благодаря нашей технологии Live Energy мы достигаем максимальной энергоэффективности при высочайшей производительности:
                    ul 
                        li Самые современные технологии переменного тока.
                        li Компактная система управления.
                        li Компактный гидравлический блок.
                        li Регулирование гидравлики/двигателя.
            .accordion 
                .accordion__button Комфортное рабочее место
                    .accordion__button-i
                .accordion__content 
                    p Эргономичное место для оператора обеспечивает комфортную работу в течение смены, не вызывая утомления:
                    ul 
                        li Рулевое управление требует меньше усилий при вождении благодаря рулю меньшего размера, уменьшению усилия на руле и сокращению количества поворотов рулевого колеса.
                        li Отсутствие гидравлических деталей в рулевой колонке снижает шум при рулении и обеспечивает большую свободу для ног оператора.
                        li Плавно регулируемая по высоте и наклону рулевая колонка.
                        li Исключительный комфорт при работе благодаря тому, что основные органы управления встроены в подлокотник, который перемещается вместе с оператором.
                        li Демпфирование вибраций, передаваемых оператору, за счет раздельного соединения кабины с основным шасси
                        li Отличная видимость груза за счет оптимизированного расположения цепей и шлангов.
                        li Компактный профиль мачты с прекрасным обзором.
                        li Контрастный цветной TFT-дисплей высокого разрешения с интуитивным пользовательским интерфейсом.
                        li Внешний источник питания, подключаемый через USB-порт
            .accordion 
                .accordion__button Индивидуальная регулировка органов управления
                    .accordion__button-i
                .accordion__content 
                    ul 
                        li Выбор из пяти настраиваемых программ движения.
                        li Плавная регулировка положения подлокотника и рулевой колонки по двум направлениям.
                        li Возможность выбора функций органов управления.
                        li Управление одной или двумя педалями.
                        li Демпфирование вибраций, передаваемых оператору, за счет раздельного соединения кабины с основным шасси
                        li Активация машины с помощью системы EasyAccess посредством сенсорной клавиши, PIN-кода или транспондерной карты (
            .accordion 
                .accordion__button Профессиональная система управления энергопотреблением
                    .accordion__button-i
                .accordion__content 
                    ul 
                        li Простая замена батареи благодаря расположению крышки батарейного отсека сбоку.
                        li Индивидуальная система замены: с помощью поводковой тележки, штабелера или крана.
                        li Простая и удобная подзарядка батареи.
                        li Простое техническое обслуживание.
                        li Безопасное горизонтальное перемещение батареи.
            .accordion 
                .accordion__button Тормозная система, не требующая технического обслуживания
                    .accordion__button-i
                .accordion__content 
                    p Три тормозные системы обеспечивают уверенное, удобное торможение и не содержат быстроизнашивающихся деталей:
                    ul 
                        li Тормоз-замедлитель для рекуперативного торможения без износа деталей.
                        li Автоматически срабатывающий стояночный тормоз для надежной остановки даже на рампе.
                        li Необслуживаемый дисковый тормоз для обеспечения максимальной эффективности торможения.
            .accordion 
                .accordion__button Системы безопасности
                    .accordion__button-i
                .accordion__content 
                    p Обширное оснащение системами безопасности для высокой динамики движения и мощности:
                    ul 
                        li Деактивация всех гидравлических функций при отсутствии оператора на сидении.
                        li Отсутствие неконтролируемого отката на рампах или уклонах благодаря автоматическому стояночному тормозу даже при отключенном двигателе.
                        li Автоматическое снижение скорости при прохождении поворотов
                        li Отображение скорости погрузчика на дисплее
                    p Повышенная безопасность водителя, погрузчика и груза благодаря набору дополнительных вспомогательных систем:
                    ul 
                        li accessCONTROL: контроль доступа перед началом движения проверяет выполнение всех механизмов безопасности.
                        li driveCONTROL: функция управления скоростью автоматически снижает скорость движения в поворотах или при выдвинутой вверх мачте.
    .tech 
        .tech__body.container 
            .tech__content 
                p.tech__title Технические характеристики:
                .tech__item 
                    p.tech__item-left Грузоподъемность (кг)
                    p.tech__item-right 2000
                .tech__item 
                    p.tech__item-left Максимальная высота подъема (мм)
                    p.tech__item-right 7000
                .tech__item 
                    p.tech__item-left Высота подъема (мм)
                    p.tech__item-right 2900-7000
                .tech__item 
                    p.tech__item-left Высота мачты в сложенном положении (мм)
                    p.tech__item-right 1972-2942
                .tech__item 
                    p.tech__item-left Высота мачты в выдвинутом положении (мм)
                    p.tech__item-right 3542-7642
                .tech__item 
                    p.tech__item-left Свободный ход (мм)
                    p.tech__item-right 150-2300
                .tech__item 
                    p.tech__item-left Расстояние до центра тяжести груза (мм)
                    p.tech__item-right 500
            .tech__img
                img(src="@img/truck.png", alt="" draggable="false")