mixin intro()
    .intro 
        .intro__body.container 
            .intro__row 
                .intro__left
                    img(src="@img/logo-big.svg", alt="" draggable="false")
                .intro__right
                    img(src="@img/truck.png", alt="" draggable="false")
            p.intro__p Компания <span>KVANTA</span> уже несколько лет занимается развитием рынка электромобилей и электротранспорта в России.
    .about 
        .about__body.container 
            p.about__title Команда <span>KVANTA</span> это: 
            .about__content 
                .about__item
                    .about__item-icon 
                    p Экспертные консультации и сопровождение на всех этапах взаимодействия при выборе и покупке
                .about__item
                    .about__item-icon 
                    p Широкий выбор как в наличии, так и под заказ в максимально возможные короткие сроки
                .about__item
                    .about__item-icon 
                    p Возможность приобретения в лизинг на выгодных условиях
                .about__item
                    .about__item-icon 
                    p Сервис для ремонта и обслуживания, а также услуги детейлинга